@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  color: #2D3033;
  transition: color .3s linear;
  @media(max-width: 1025px) {
    font-size: 18px;
  }
  @media(max-width: 769px) {
    font-size: 16px;
  } 
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2D3033;
  @media(max-width: 1025px) {
    font-size: 18px;
  }
  @media(max-width: 769px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
  color: #FF4343;
  text-transform: uppercase;
  @media(max-width: 1025px) {
    font-size: 14px;
  }
  @media(max-width: 769px) {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

a, button, .btn {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @media(max-width: 1025px) {
    padding: 0 20px;
  }
}

/*--------------- header ---------------*/
/*--------------- header ---------------*/
/*--------------- header ---------------*/

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 36px 0;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  &__list {
    display: flex;
    @media(max-width: 769px) {
      display: none;
    }
  }
  &__item {
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 28px;
    min-width: 134px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    transition: all .3s linear;
    @media(max-width: 1025px) {
      min-width: 112px;
      font-size: 12px;
    }
    &:hover {
      font-size: 16px;
      @media(max-width: 1025px) {
        &:hover {
          font-size: 12px;
        }
      }
    }
    &:active{
      color: #E71414;
      font-size: 14px;
    }
    &::after {
      content:'';
      display: block;
      width: 0%;
      position: absolute;
      top: calc((100%) + 34px);
      right: 0;
      border: 1px solid black;
      transition: width .5s linear, border .3s linear;
    }
    &::before {
      content:'';
      display: block;
      width: 0%;
      position: absolute;
      bottom: calc((100%) + 35px);
      left: 0;
      border: 1px solid black;
      transition: width .5s linear, border .3s linear;
    }
  }
  &__item:hover {
    &::before {
      width: 100%;
      border: 1px solid #BABBC5;
    }
  }
  &__item:active {
    &::before {
      border: 1px solid #E71414;
    }
  }
  &__item:hover {
    &::after {
      width: 100%;
      border: 1px solid #BABBC5;
    }
  }
  &__item:active {
    &::after {
      border: 1px solid #E71414;
    }
  }
  &__link {
    color: inherit;
    display: block;
    width:100%;
  }
}

/*--------------- banner ---------------*/
/*--------------- banner ---------------*/
/*--------------- banner ---------------*/

.banner {
  padding: 257px 0 120px;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width: 1025px) {
    padding: 221px 0 126px;
  }
  @media(max-width: 320px) {
    padding: 98px 0 62px;
  }
  &__title {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 32px;
    @media(max-width: 1025px) {
      font-size: 48px;
    }
    @media(max-width: 320px) {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }
  &__text {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 89px;
    @media(max-width: 1025px) {
      font-size: 18px;
    }
    @media(max-width: 769px) {
      font-size: 16px;
    }
    @media(max-width: 320px) {
      font-size: 14px;
      margin-bottom: 49px;
    }
  }
  &__btn {
    max-width: 370px;
    min-height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 900;
    color: white;
    font-size: 24px;
    background-color: #FF4343;
    @media(max-width: 1025px) {
      max-width: 314px;
    }
    @media(max-width: 769px) {
      max-width: 250px;
      font-size: 18px;
      min-height: 60px;
    }
  }
}

/*--------------- features ---------------*/
/*--------------- features ---------------*/
/*--------------- features ---------------*/

.features {
  padding: 116px 0;
  @media(max-width: 1025px) {
    padding: 78px 0;
  } 
  @media(max-width: 320px) {
    padding: 40px 0 44px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 71px;
    text-align: center;
    @media(max-width: 1025px) {
      column-gap: 20px;
      row-gap: 40px;
    }
    @media(max-width: 769px) {
      column-gap: 15px;
      row-gap: 30px;
    }
    @media(max-width: 320px) {
      row-gap: 54px;
      column-gap: 0px;
    }
  }
  &__card {
    padding: 10px;
    max-width: calc((100% - 60px) / 3);
    width: 100%;
    border-radius: 10px;
    transition: all .3s linear;
    @media(max-width: 1025px) {
      max-width: calc((100% - 40px) / 3);
    }
    @media(max-width: 769px) {
      max-width: calc((100% - 15px) / 2);
    }
    @media(max-width: 320px) {
      max-width:100%;
    } 
    &:hover {
      background-color: #353C65;
      color: white;
    }
    &:hover .features__card-title {
      color: white;
    }
  }
  &__icon-bcg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    @media(max-width: 1025px) {
      width: 84px;
      height: 84px;
      margin-bottom: 30px;
    }
    @media(max-width: 769px) {
      width: 75px;
      height: 75px;
      margin-bottom: 22px;
    } 
  }
  &__icon-1 {
    background-image: url(../img/svg/icon_1.svg);
  }
  &__icon-2 {
    background-image: url(../img/svg/icon_2.svg);
  }
  &__icon-3 {
    background-image: url(../img/svg/icon_3.svg);
  }
  &__icon-4 {
    background-image: url(../img/svg/icon_4.svg);
  }
  &__icon-5 {
    background-image: url(../img/svg/icon_5.svg);
  }
  &__icon-6 {
    background-image: url(../img/svg/icon_6.svg);
  }
  &__card-title {
    margin-bottom: 40px;
  }
  &__card-text {
    font-size: 18px;
    @media(max-width: 1025px) {
      font-size: 14px;
    }
  }
}

/*--------------- work ---------------*/
/*--------------- work ---------------*/
/*--------------- work ---------------*/

.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  row-gap: 1px;
  @media(max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
  &__card {
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }
  &__title {
    color: white;
    margin-bottom: 25px;
  }
  &__text {
    color: white;
  }
  &__hover {
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transition: all .3s linear;
    &:hover {
      opacity: 1;
      background-color: #ff4343c4;
    }
  }
}

/*--------------- team ---------------*/
/*--------------- team ---------------*/
/*--------------- team ---------------*/

.team {
  padding: 114px 0;
  @media(max-width: 1025px) {
    padding: 78px 0;
  }
  .container {
    display: flex;
    column-gap: 30px;
    @media(max-width: 1025px) {
      column-gap: 25px;
    }
    @media(max-width: 769px) {
      flex-wrap:wrap;
      row-gap: 27px;
    }
    @media(max-width: 320px) {
      flex-wrap: wrap;
      column-gap: 0px;
    }
  }
  &__card {
    width: calc((100% - 90px) / 4);
    @media(max-width: 769px) {
      width: calc((100% - 25px) / 2);
    }
    @media(max-width: 320px) {
      max-width:100%;
      width: 100%;
    }
  }
  &__bcg {
    width: 100%;
    height: 270px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    @media(max-width: 1025px) {
      height: 227px;
      margin-bottom: 25px;
    }
  }
  &__card-image-Ruth{
    background-image: url(../img/Ruth.jpg);
  }
  &__card-image-Timothy{
    background-image: url(../img/mahdi.jpg);
  }
  &__card-image-Victoria{
    background-image:url(../img/Victoria.jpg);
  }
  &__card-image-Beverly {
    background-image: url(../img/Beverly.jpg);
  }
  &__name-title {
    margin-bottom: 8px;
  }
  &__career-title {
    margin-bottom: 18px;
  }
  &__text {
    font-size: 18px;
    color: #6C7279;
    margin-bottom: 38px;
    @media(max-width: 1025px) {
      font-size: 14px;
    }
  }
  &__icons {
    display: flex;
    column-gap: 6px;
  }
  &__bcg-icon {
    display: block;
    width: 39px;
    height: 39px;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
  }
  &__icon-facebook {
    background-image: url(../img/svg/facebook_icon.svg);
  }
  &__icon-twitter {
    background-image: url(../img/svg/twitter_icon.svg);
  }
  &__icon-linkedin {
    background-image: url(../img/svg/linkedin_icon.svg);
  }
}

/*--------------- download ---------------*/
/*--------------- download ---------------*/
/*--------------- download ---------------*/

.downloads {
  padding: 114px 0;
  @media(max-width: 1025px) {
    padding: 78px 0;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    @media(max-width: 1025px) {
      font-size: 24px;
    }
    @media(max-width: 769px) {
      font-size: 18px;
    }
  }
  &__text {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 44px;
    @media(max-width: 1025px) {
      font-size: 14px;
      margin-bottom: 38px;
    }
    @media(max-width: 769px) {
      font-size: 13px;
    }
  }
  &__btn {
    display: block;
    max-width: 380px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #FF4343;
    @media(max-width: 1025px) {
      max-width: 314px;
      font-size: 18px;
    }
    @media(max-width: 769px) {
      max-width: 279px;
      font-size: 18px;
    }
  }
}

/*--------------- footer ---------------*/
/*--------------- footer ---------------*/
/*--------------- footer ---------------*/

.footer {
  text-align: center;
  color: white;
  &__container-top .container{
    display: flex;
    column-gap: 30px;
    @media(max-width: 1025px) {
      column-gap: 20px;
    }
    @media(max-width: 769px) {
      display: flex;
      flex-direction: column;
      column-gap: none;
      row-gap: 41px;
      align-items: center;
    }
  }
  &__container-top {
    padding: 56px 0 70px;
    @media(max-width: 1025px) {
      padding: 37px 0 40px;
    }
    column-gap: 30px;
    background-color: #353C65;
    .footer__card:nth-child(2) .footer__title {
      margin-bottom: 49px;
    }
  }
  &__card {
    width: calc((100% - 60px) / 3);
    @media(max-width: 769px) {
      width: 100%;
    }
  }
  &__container-bottom {
    padding: 25px 0 24px;
    background-color: #2C3154;
    @media(max-width: 1025px) {
      padding: 14px 0;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    @media(max-width: 1025px) {
      font-size: 14px;
    }
  }
  &__text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    @media(max-width: 1025px) {
      font-size: 14px;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    column-gap: 27px;
    @media(max-width: 1025px) {
      column-gap: 23px;
    }
  }
  &__bcg-icon {
    width: 39px;
    height: 39px;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    @media(max-width: 1025px) {
      width: 33px;
      height: 33px;
    }
  }
  &__icon-facebook {
    background-image: url(../img/svg/facebook_icon.svg);
  }
  &__icon-twitter {
    background-image: url(../img/svg/twitter_icon.svg);
  }
  &__icon-linkedin {
    background-image: url(../img/svg/linkedin_icon.svg);
  }
  &__container-bottom {
    color: #808080;
    span {
      color: white;
    }
  }
  &__text-bottom {
    font-size: 18px;
    @media(max-width: 1025px) {
      font-size: 14px;
    }
  }
}



